* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v101_38 {
  width: 100%;
  height: 3291px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v101_77 {
  width: 849px;
  height: 674px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 194px;
  left: 591px;
  overflow: hidden;
}
.v101_246 {
  width: 849px;
  height: 674px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v101_247 {
  width: 849px;
  height: 674px;
  background: rgba(229,229,229,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.30000001192092896);
}
.v125_62 {
  width: 303px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 547px;
  left: 273px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v128_0 {
  width: 651px;
  height: 381px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1154px;
  left: 119px;
  overflow: hidden;
}
.v128_1 {
  width: 651px;
  height: 381px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v128_2 {
  width: 651px;
  height: 381px;
  background: rgba(229,229,229,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.30000001192092896);
}
.v128_3 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 309px;
  left: 210px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v128_9 {
  width: 631px;
  height: 401px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1682px;
  left: 678px;
  overflow: hidden;
}
.v128_10 {
  width: 631px;
  height: 401px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v128_11 {
  width: 631px;
  height: 401px;
  background: rgba(229,229,229,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.30000001192092896);
}
.v128_12 {
  width: 225px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 325px;
  left: 204px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v111_56 {
  width: 238px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 137px;
  left: 65px;
  font-family: Molengo;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v125_67 {
  width: 389px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 277px;
  left: 29px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v128_8 {
  width: 577px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1055px;
  left: 60px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v125_68 {
  width: 231px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 518px;
  left: 113px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v125_70 {
  width: 231px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 442px;
  left: 128px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v125_69 {
  width: 331px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 594px;
  left: 113px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v125_78 {
  width: 62px;
  height: 48px;
  background: url("../images/v125_78.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 431px;
  left: 128px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v128_15 {
  width: 231px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1291px;
  left: 890px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v129_2 {
  width: 231px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1361px;
  left: 890px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v128_16 {
  width: 331px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1443px;
  left: 875px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v128_17 {
  width: 62px;
  height: 48px;
  background: url("../images/v128_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1280px;
  left: 890px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v128_22 {
  width: 231px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1917px;
  left: 179px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v128_23 {
  width: 231px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1843px;
  left: 194px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v128_24 {
  width: 331px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1992px;
  left: 179px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v128_25 {
  width: 62px;
  height: 47px;
  background: url("../images/v128_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1832px;
  left: 194px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v128_29 {
  width: 222px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1185px;
  left: 864px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v128_31 {
  width: 90px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 348px;
  left: 134px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v128_30 {
  width: 116px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1715px;
  left: 179px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v131_0 {
  width: 557px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2209px;
  left: 491px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v131_1 {
  width: 450px;
  height: 72px;
  background: rgba(248,248,248,1);
  opacity: 1;
  position: absolute;
  top: 2444px;
  left: 251px;
  border: 1px solid rgba(131,131,132,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v131_2 {
  width: 450px;
  height: 72px;
  background: rgba(248,248,248,1);
  opacity: 1;
  position: absolute;
  top: 2444px;
  left: 790px;
  border: 1px solid rgba(131,131,132,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v182_343 {
  width: 234px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2460px;
  left: 268px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v182_344 {
  width: 260px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2460px;
  left: 799px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v131_3 {
  width: 984px;
  height: 370px;
  background: rgba(248,248,248,1);
  opacity: 1;
  position: absolute;
  top: 2608px;
  left: 256px;
  border: 1px solid rgba(131,131,131,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v179_422 {
  width: 100%;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v179_424 {
  width: 47px;
  color: rgba(24,160,251,1);
  position: absolute;
  top: 21px;
  left: 1046px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v179_425 {
  width: 52px;
  color: rgba(24,160,251,1);
  position: absolute;
  top: 21px;
  left: 1132px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v179_426 {
  width: 69px;
  color: rgba(24,160,251,1);
  position: absolute;
  top: 21px;
  left: 1215px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v179_427 {
  width: 59px;
  color: rgba(24,160,251,1);
  position: absolute;
  top: 21px;
  left: 1315px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v131_5 {
  width: 736px;
  color: rgba(128,124,124,1);
  position: absolute;
  top: 2336px;
  left: 352px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v182_342 {
  width: 258px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2645px;
  left: 282px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v179_436 {
  width: 192px;
  height: 52px;
  background: url("../images/v179_436.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3034px;
  left: 1048px;
  overflow: hidden;
}
.v179_437 {
  width: 192px;
  height: 52px;
  background: rgba(24,160,251,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v179_438 {
  width: 44px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 73px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
