*{
  margin:0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Montserrat";
  src: url("/Layout/fonts/Montserrat-ExtraBold.ttf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat-regular";
  src: url("/Layout/fonts/Montserrat-Regular.ttf") format("opentype");
  font-weight: normal;
}

.topnav{
  overflow:hidden;
  background-color: #283149;
  font-size: 17px;
  padding: 40px 16px;
}

.navbar{
  overflow:hidden;
  background-color: #283149;
  font-size: 17px;
  padding: 20px 16px;
}
.navbar .links a{
  float: right;
  text-decoration: none;
  font-family: Arial;
  color: #EDEAD3;
  padding-left: 35px;
}
h1{
  font-family: sans-serif;
  color: #EDEAD3;
      margin-bottom: 40px;
}
h2{
  position: absolute;
  font-family: sans-serif;
  color: #EDEAD3;
  padding: 0px 50px;
}

h3{
  position: absolute;
  font-family: sans-serif;
  font-weight: lighter;
  color: #EDEAD3;
  padding: 5px 80px;
}
h4{
  position: relative;
float: right;
top: 22px;
right: 25px;
color: #EDEAD3;
}
li{
  padding: 10px;
}

.container{
  background-color: #E3B7A5;
  width: 37%;
  position: absolute;
  top: 30%;
  border-radius: 2px;
  left: 50%;
}
.flex-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.homecontainer{
  width: 100%;
  position: relative;
  margin: 7%;
  bottom: 65px;
  left: 60px;
  border-radius: 2px;
}
.color{
  margin:0;
  position: relative;
bottom: 38px;

  background-color: #283149;
}
.timeline{
  right: 300px;
  float: right;
  position: relative;
  width: 26%;
  background-color: #E3B7A5;
}
.test{
  margin-bottom: 10%;
}
.homecontainer h2{
  font-weight: lighter;
}
.container h1{
  font-family: Arial;
  margin: 30px;
}
.recentprojects{
  width: 50%;
}
p{
 font-family: "Monsterrat", Arial;
 font-size: 50px;
 font-weight: bold;
 width: 8em;
 height: 10em;
 margin: 0;
  position: absolute;               /* 2 */
  top: 30%;
  left: 10%;                      /* 3 */
}
.input{
  position: relative;
margin: 45px 0;
}
 .input .placeholder{
  position: absolute;
    top: calc(38% + 4px);
    transform: translateY(-50%);
    left: 75px;
    color: #EDEAD3;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial;
    color: rgba(0, 0, 0, 0.6);
    transition: top .4s, font-size .4s, transform .4s;
}
.input .placeholder.selected {
    font-size: 14px;
    transform: translateX(-13px);
    top: -17px;
}
.info{
  width: 60%;
    padding: 10px 20px;
    border: 0;
    margin-left: 10%;
    font-size: 18px;
    outline: 0;
    background-color: #C2A199;
    position: relative;
}
.button{
  background-color: #404B69;
  border: none;
  padding: 9px 18px;
  color: #EDEAD3;
  width: 24%;
  cursor: pointer;
  margin: 15px 57px;
  margin-top: 2px;
  border-radius: 6px;
}
.button:hover{
  background-color: #283149;
}

.buttonx{
  display: block;
  margin: 0px auto;
  background-color: #404B69;
  border: none;
  padding: 14px 17px;
  color: #EDEAD3;
  width: 29%;
  margin-top: 2%;
  margin-bottom: 10%;
  cursor: pointer;
  border-radius: 6px;
}
.buttonx:hover{
  background-color: #283149;
}

.create-acc
{
 margin-left: 42%;
  color: E3B7A5;
  font-size: 36;
  font-family: : "Montserrat";
  opacity: 1;
}
.createacccontainer
{
position: fixed;
top: 30%;
left: 35%;
width: 30%;
height: 60%;
border-width: 2px;
border-color: #E3B7A5;
border-style: solid;
}

.empname
{
 margin-top: 2.5%;
 margin-bottom: 2.5%;
 margin-left: 3.5%;
 color : white;
 font-size: 24px;
 display: block;
}
.empinput,.emplist
{
margin-left: 3.5%;
background-color: #404B69;
border-color: black;
width: 93%;
}
.createbut
{
 width: 20%;
 position: absolute;
 left: 40%;
 top: 80%;
 border-radius: 6%;
 height: 10%;
 background-color: #E3B7A5;
}
.img2{
  border-radius: 50%;
  width: 60% !important;
  margin-left: 25px;
}
.image{
   width: 32%;
   float: left;
   margin: 3px;
}
#color{
   width: 23%;
   float: left;
   margin: 3px;
}
#first
{
  margin: 0 auto;
  width:80%;
  background-color: white;
  border: 0.2em solid black;
  flex-shrink:0;
  flex-grow:1;
}
#second
{
   width:100%;
   min-height:50%;
   padding:50px;
   background:#eeeeee;
   box-shadow: 2px 1px 2px 1px #888;
}
img {
  border-radius: 10%;
  width: 95%;
}
