@font-face { font-family: DancingScript;
			 src: url('./fonts/DancingScript-Regular.ttf'); }

 @font-face { font-family: Poppins;
			src: url('./fonts/Poppins-Regular.ttf'); }

*{
  margin: 0;
}


body{
  background-color:#151515;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5em;
	overflow-x: hidden;
}


.container {
  width: 70%;
  height: 350px;
  margin-top: 170px;
  display: flex;
  overflow: hidden;
}

.left-skew {
  width: calc(51% + 95px);
      height: 80%;
      transform: skewX(-26deg);
      display: flex;
      position: absolute;
      padding-top: 70px;
      justify-content: center;
      right: 54%;
      background-color: #6e5c38;
      border: 8px solid #151515;
      margin: auto;
}
.container-fluid {
  padding-left: 150px;
    transform: skewX(26deg);
}
.row {
    display: flex;
    justify-content: space-between;
}
[class*='col'] {
    padding-left: 65px;
    line-height: 36px;
    /* padding-right: 25px; */
}
.col-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.greetings{
  margin-top: 1px;
}
.mainBanner--txt h2 {
    color: #151515;
    font-size: 37px;
    font-weight: 300;
}
.mainBanner--txt h2.greetings:after {
    content: "";
    width: 2px;
    height: 1.875rem;
    background: #fa643c;
    display: block;
    margin-top: 1.25rem;
    margin-bottom: 1.5rem;
    margin-left: .125rem;
}

.mainBanner--txt .overflow h1 {
	line-height: 8vw;
	font-weight: 600;
	color: #e9e8e8;
	text-transform: uppercase;
	font-family: Poppins;
	font-size: 47px;
}
#title1{
	font-family: DancingScript;
	text-transform: none;
}

.homeHeader{
  position: relative;
  margin-top: 80px;
}
a.btn-slider{
	position: relative;
	margin-top: 150px;
  color: #e9e8e8;
}
a.btn-slider-inverse{
  color:#b89d5f !important;
	border:solid 2px #b89d5f !important;
}
a.btn-slider, a.btn-slider-inverse{
	font-weight:bold;
  margin-top: 20px;
	color:#fff;
  z-index: 3;
	letter-spacing:3px;
	line-height:normal;
	text-decoration:none;
	text-transform:uppercase;
	border:solid 2px #fff;
	padding:10px 30px 10px 30px;
}

a.btn-slider:hover{
color:#8c744d;
background:#e9e8e8;
border-color:#000;
border:solid 2px #fff;
}

a.btn-slider-inverse:hover{
color:#fff !important;
background:#b89d5f;
border-color:#000;
border:solid 2px #fff;
}

.right-skew {
  width: calc(50% + 115px);
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-skew {
  position: absolute;
  margin-top: 7px;
      margin-right: -115px;
      padding-right: 115px;
      color: white;
      z-index: -1;
      left: 34.8%;
}

.right-skew img{
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  width: 100%;
  left: 1px;
  background-size: cover;
}
#slide {
    position: absolute;
    left: -1000px;
    background: blue;
    animation: slide 2s forwards;
}
 /* slide animation */
@keyframes slide {
    100% { left: 0; }
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
animation-duration: 2.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* portofolio */
.styles_Root__1bJKm {
    padding: 60px 52px;
}
.styles_Root__1bJKm {
  margin: 0 auto;
    background: #f8f8f8;
}
.col-md-offset-3 {
    margin-right: 5%;
}
.col-md-offset-3 h1 {
    font-size: 32px;
    margin: 0;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
}
.separator {
    line-height: 0.5;
    text-align: center;
    margin: 30px 0 30px 0;
}
.separator span {
    display: inline-block;
    position: relative;
}
.separator span:before {
    right: 100%;
    margin-right: 15px;
}
.separator span:before, .separator span:after {
    content: "";
    position: absolute;
    border-bottom: 1px solid #151515;
    top: 5px;
    width: 300px;
}
.separator span i {
    font-size: 6px;
    padding: 0;
		color: #b89d5f;
    margin: 0;
    float: none;
}
.separator span:after {
    left: 100%;
    margin-left: 15px;
}
.spacer-single {
    width: 100%;
    height: 30px;
    display: block;
    clear: both;
}
.styles_PackageCards__7QAl7 {
    align-items: stretch;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
        justify-content: center;
}

.styles_PackageCard__2V_Wv {
    padding: 0 30px;
}
@media (min-width: 920px){
.styles_PackageCard__2V_Wv {
    flex: 0 0 auto;
    padding: 0 20px;
    width: 33.3333333333%;
}

.styles_Root__-2dvc {
    min-height: 470px;
    padding: 30px 30px 0;
}
.styles_Root__-2dvc {
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 15%);
    display: block;
    padding: 20px;
    position: relative;
}
.styles_Title__29ysr {
    font-weight: 600!important;
    border-bottom: 2px solid #000;
    color: #000;
    font-size: 26px;
    letter-spacing: 0;
    line-height: 29px;
    padding-bottom: 10px;
    text-align: left;
    margin-bottom: 20px;
    text-align: center;
}
.styles_InfoContainer__3vlk3 {
    align-items: stretch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.styles_PriceContainer__BA0kq {
    border-right: 1px solid #000;
}
.styles_PriceMSRP__-0OQn {
    font-size: 20px;
    text-align: center;
    text-decoration: line-through;
}
.styles_Price__1svWX {
    font-family: GT Walsheim;
    font-weight: 300!important;
    color: #000;
    flex: 0 0 auto;
    font-size: 40px;
    text-align: center;
}

.portfolio{
  position: relative;
  top: 43%;
  width: 100%;
}


.thumb-flat {
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  margin-bottom: 20px;
    text-align: center;
    max-width: 318px;
    margin-left: auto;
    margin-right: auto;
}
.thumb-flat img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}
.thumb-flat img {
    vertical-align: middle;
    border-style: none;
}

.thumb-flat.thumb-flat-modern * + .thumb-flat__body {
    margin-top: 0;
}
.thumb-flat__body {
    padding: 35px 40px;
}
h6, .heading-6 {
    font-size: 18px;
    line-height: 1.44444;
		margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    color: #221F1E;
    text-transform: uppercase;
    letter-spacing: .5px;
}
h6 + p, .heading-6 + p {
    margin-top: 10px;
		font-size: 13px;
}
.heading-6 a{
	text-decoration: none;
	font-family: Poppins;
	transition: .33s all ease;
	color: inherit;
}
.thumb-flat__body * + .button {
    margin-top: 35px;
}
.button {
    display: inline-block;
    width: auto;
    max-width: 100%;
    border: 1px solid;
    border-radius: 0;
    padding: 12px 25px;
    font-size: 14px;
    line-height: 17px;
		text-decoration: none;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 0;
    transition: .33s all ease;
    white-space: normal;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
}

.button-primary {
    color: #fff;
    background-color: #b89d5f;
    border-color: #b89d5f;
}


.steps_container {
  position: relative;
  display: flex;
  padding: 0% 5%;
  justify-content: space-around;
  z-index: 2;
}


@media (min-width: 1100px){
.steps_header {
    flex: 0 1 auto;
    width: 300px;
  }
}
@media (min-width: 1100px){
.steps_header h1 {
    font-size: 40px;
    max-width: 336px;
  }
}

.steps_header h1 {
    font-family: DancingScript;
    color: White;
    font-size: 34px;
    line-height: 30px;
    max-width: 350px;
}

@media (min-width: 1100px){
.steps_wrapper {
    flex: 0 1 auto;
    margin: auto;
    transform: translate(0%, -20%);
  }
}
.steps_content {
    display: flex;
    flex-direction: column;
}

.steps_content_info {
  font-family: DancingScript;
    color: #8c744d;
    font-size: 24px;
    line-height: 28px;
    max-width: 350px;
    align-self: flex-end;
    height: 253px;
}

.steps_content_info p{
  font-family: 'Austin-Italic';
  color: #e9e8e8;
}
.steps_logo{
  margin-bottom: 20px;
}

@media (min-width: 768px){
	.section-sm {
	    padding: 60px 0;
	}
}

.bg-accent {
    background-color: #b89d5f;
}

.text-center {
    text-align: center !important;
}
@media (min-width: 1200px){
	.container-contact {
	    padding-left: 25px;
	    padding-right: 25px;
	}
}

@media (min-width: 1400px){
	.container-contact {
	    max-width: 1400px;
	}
	.row.row-50 {
	margin-left: -25px;
	margin-right: -25px;
	}
}
.container-contact {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.row.row-50 {
margin-left: -25px;
margin-right: -25px;
}

h4, .heading-4 {
	color: white;
    font-size: 30px;
    line-height: 1.43333;
		margin-top: 0;
		margin-bottom: 0;
		font-family: Poppins;
		font-weight: 600;
		color: #fff;
		text-transform: uppercase;
		letter-spacing: .5px;
}
.button-secondary {
    color: #b89d5f;
		margin-top: 18px;
		font-weight: 600;
    background-color: #fff;
    border-color: #fff;
}

.content-section {
    display: block;
    width: 100%;
    overflow: hidden;
    background-color: #e9e8e8;
    padding-top: 25px;
    padding-bottom: 75px;
    text-align: center;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
}

.content-wrapper {
    position: relative;
    width: 100%;
    max-width: 1265px;
    margin-top: 0;
    padding-top: 0;
    padding-right: 25px;
    padding-left: 25px;
}
.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}
._49-column-2 {
  display: block;
      width: 60%;
      max-width: 708px;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
}
.mini-title {
    margin-bottom: 10px;
    font-size: 13.5px;
}
.center-box, .mini-title {
    font-family: Roboto,sans-serif;
    color: #b89d5f;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.top-border-2._10 {
    margin-top: 10px;
}
.top-border-2 {
  position: relative;
    z-index: 10;
    margin-top: 20px;
}
p {
  color: #141414;
    margin-top: 0;
    font-size: 20px;
    margin-bottom: 10px;
}
.top-border._20 {
    margin-top: 20px;
}
.form-block-2 {
  box-sizing: border-box;
    display: block;
    max-width: 600px;
    margin-bottom: 0;
}
.w-form {
    margin: 0 0 15px;
}
.flex-2 {
    display: flex;
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.text-field-2 {
  font-family: 'Austin-Italic';
  font-style: italic;
    width: 34%;
    height: 60px;
    padding-left: 21px;
    border-style: solid none solid solid;
    border-width: 1px;
    border-color: #b89d5f;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.submit-button-2 {
  font-family: 'Bahnschrift';
    font-weight: 700;
  width: 23%;
    float: left;
  height: 60px;
  border: none;
  margin: 0;
  background: #b89d5f;
	cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0;
}
.wrapper{
  margin: 0 auto;
  width: 1000px;
}
 .slicknav_btn {top: 35px;}
 .counter{
   position: relative;
   width: 100%;
   z-index: -2;
   box-sizing: content-box;
 }
 .counter_title {
     font-family: Roboto Slab,serif;
     color: #fff;
     font-weight: 700;
 }
 .counter_text {
     margin-top: 19px;
 }
 .counter_text p {
     color: #fff;
 }
 .fill_height {
     height: 100%;
 }
}