body{
  font-family: "Monsterrat", Arial;
  margin: 0px;
  background: #E9E8E8;
  height: 1200px;
}
.title{
  color: #151515;
  position: relative;
  top: 80px;
  left: 80px;
}
.add-p{
  font-size: 25px;
  color: #D6E8E9;
  position: relative;
  top: 110px;
  left: 870px;
}
.add-p-icon{
  position: relative;
  top: 10px;
  left: 5px;
  margin: 0px;
  width: 40px;
}
.project{
  font-size: 17px;
  position: relative;
  width: 80%;
  height: 250px;
  left: 60px;
  top: 140px;
  margin-top: 20px;
  background: #B89D5F;
  border: 2px solid #E3B7A5;
  box-sizing: border-box;
  border-radius: 45px;
}
.anch-project{
  height: inherit;
}
.p-img{
  position: relative;
  width: 25%;
  height: 80%;
  left: 20px;
  top: 20px;

   /*background: #C4C4C4;*/
  background-color: transparent;
  border-radius: 45px;

  float: left;
}
.p-info{
  color: #76323F;
  position: relative;
  left: 5%;
  top: 10%;
  float: left;
}
.p-status{
  margin: 0px;
  position: relative;
  top: 80%;
  left: 20%;
}
.my-p-status{
  margin: 0px;
  position: relative;
  top: 80%;
  left: 70%;
}
.status-orange{
  color: #FFAA05;

}
.status-green{
  color: #09FA04;

}
.status-red{
  color: #FF0000;

}
.p-h3{
  margin: 0px;
  color: #E9E8E8;
  width: 400px;
}
h1{
  color: #E9E8E8;
  margin: 0px;
  width: 300px;
}
@font-face {
  font-family: "Montserrat";
  src: url("/Layout/fonts/Montserrat-ExtraBold.ttf") format("opentype");
  font-weight: normal;
}
